/* 
    Document   : schedular-custom
    Created on : 12 Feb, 2014, 11:17:51 AM
    Author     : abhishek
    Description:
        Purpose of the stylesheet follows.
*/
.box {background-color: #ccc; margin: 2px;}
.xdropdown-menu {
    position: absolute;
    top: 100%;
    left: -8px;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    list-style: none;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,0.15);
    /*border-top: 1px solid #fff;*/
    /*border-radius: 4px;*/
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,0.175);
    box-shadow: 0 6px 12px rgba(0,0,0,0.175);
    background-clip: padding-box;
}

.open>.xdropdown-menu{
    display: block;

}

.tpr-default {
    background-color: #fff;
    border: none;
    margin: 3px;
    cursor: pointer;
}

.open>.tpr-default {
    background-color: #ccc;
}



.xdropdown-menu {
    min-width: 50px;
}
.xdropdown-menu li a  {
    display: inline-block;
    color: #000;

}

.xdropdown-menu li {
    display: inline-block;
    width: 60px;
    font-size: 12px;
    padding-left: 5px;
}
.tpr {
    position: relative;
}
.trp .btn {
    border: 0;
    padding: 3px;
    /*border: 1px solid;*/  
    font-size: 12px;
}
.xtimer-container {
    background-color: #fff;
    border: 1px solid;
    padding: 10px;
    /*width: 70%;*/
    position: relative;
    /*top: 45px;*/
    left: 10px;
    z-index: 1000;
    display: inline-block;

}

.timer-container {
    position: fixed;
    top: 100%;
    left: 250px;
    z-index: 1000;
    float: left;
    background-color: #fff;
    padding: 5px 0;
    border: 1px solid #ccc;


    /*border-radius: 4px;*/
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,0.175);
    box-shadow: 0 6px 12px rgba(0,0,0,0.175);

}
.tprtags {
    border: 0;
    height: auto;
}
.tpr-group{
    position: relative;
    display: inline-block;
    vertical-align: middle;
}
.tprtags .tag {
    border-radius: 0px;
    background-color: #41cac0;
    color: #ffffff;
    cursor: pointer;
    margin-right: 5px;
    margin-bottom: 5px;
    overflow: hidden;
    line-height: 15px;
    padding: 5px;
    position: relative;
    vertical-align: middle;
    display: inline-block;
}
.tprtags-add {
    background-color: #d6dbdf;
    border-radius: 3px;
    color: #ffffff;
    cursor: pointer;
    margin-bottom: 5px;
    padding: 6px 9px;
    display: inline-block;
    zoom: 1;
    transition: 0.25s;
    -webkit-backface-visibility: hidden;
}
.tprtags-add:before {
    content: "\f067";
    font-family: "FontAwesome";
}
.tprtags input {
    display: none;
}

.tprtags-add-container {
    display: inline-block;
    line-height: 13px;
    vertical-align: middle;
}

.tprtags .tag:hover {
    background-color: #39b1a8;
    color: #ffffff;
    padding: 5px;
}

.tprtags-remove-link:before {
    color: #ffffff;
    content: "";
    font-family: "FontAwesome";
    display: none;
}