.aboutStunner-block {
	position: relative;
}
.aboutStunner-left{
	position: relative;
}
.aboutStunner-right{
	position: relative;
}
.plus-icon{
	left: 0;
}
.readbutton {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin: 0 auto;

}