@font-face {
    font-family: 'lotregular';
    src: url('../../fonts/lot-webfont.eot');
    src: url('../../fonts/lot-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/lot-webfont.woff') format('woff'),
         url('../../fonts/lot-webfont.ttf') format('truetype'),
         url('../../fonts/lot-webfont.svg#lotregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.add-package{
    border: 1px solid #ccc;
    background: #ffffff;
    margin: 0 auto;
    width: 80%;
    border-radius: 8px;
    padding: 20px 30px;
    overflow: hidden;
}
.add-package h1{
    margin: 15px 0 30px;
    font-size: 25px;
}
.group-p{
    margin-bottom: 30px;
}
.group-semi{
    margin-bottom: 30px;
    width: 50%;
}
.group-semi label{
    display:block;
    font-size: 16px;
    font-weight: normal!important;
}

.group-p label{
    display:block;
    font-size: 16px;
    font-weight: normal;
}
.group-p input[type="text"]{
    width: 100%;
    color: #333;
}
.group-p select{
    width: 45%;
    color: #333;
    padding: 10px;
    border: 1px solid #ccc;
}
.inr input[type="text"]{
    width: 90%;
    color: #333;
}
.group-p textarea{
    width: 100%;
    color: #333;
    resize :none;
}
.required{
    color: red;
}
#list{
    display: block;
    border: 1px dotted #CCC9C9;
    width: 100%;
    padding: 10px 0px 5px 10px;
    margin-bottom: 30px;
    background: #F8F8F8;
}
ul#list li{
    display: inline-block;
    width: 48%;
    margin-right: 1%;
    margin-bottom: 8px;
}
#addons{
    width: 100%;
    float: left;
    border: 1px dotted #CCC9C9;
    padding: 10px 0px 3px 10px;
    margin-bottom: 30px;
    min-height: 50px;
    background: #F8F8F8;
}
ul#addons li{
    width: 96%;
    display: block;
    margin: 0 0 8px 0;
}
#upsales{
    width: 100%;
    float: right;
    border: 1px dotted #CCC9C9;
    padding: 10px 0px 3px 10px;
    margin-bottom: 20px;
    min-height: 50px;
    background: #F8F8F8;
}
ul#upsales li{
    width: 96%;
    display: block;
    margin: 0 0 8px 0;
}
.adons-block{
    width: 45%;
    float: left;
    margin-right: 20px;
}
.upsales-block{
    width: 50%;
    float: right;
}
#connected h2{
    font-weight: normal;
    font-size: 16px;
    margin: 2px 0 15px 2px;
}
.helper-text{
    font-size: 14px;
    color: #858484;
    padding-left: 8px;
}
.connected, .sortable, .exclude, .handles {
    margin: auto;
    padding: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.sortable.grid {
    overflow: hidden;
}
.connected li, .sortable li, .exclude li, .handles li {
    list-style: none;
    border: 1px solid #ffffff;
    background: #00A8B3;
    color: #ffffff;
    padding:8px;
    cursor: move;
}

.handles span {
    cursor: move;
}
li.disabled {
    opacity: 0.5;
}
.sortable.grid li {
    line-height: 80px;
    float: left;
    text-align: center;
}
li.highlight {
    background: #FEE25F;
}
#connected {
    overflow: hidden;
    margin: auto;
}
.connected {
    float: left;

}

li.sortable-placeholder {
    border: 1px dashed #CCC;
    background: none;
    padding: 10px;
}

.adn-type{
    display: block;
    font-size: 17px;
    font-weight: normal;
    margin: 0px 0 10px 0;  
}
.addon-type{
    margin: 10px 0 25px 0;
}
.addon-type label{
    font-size: 16px;
}
.grp-item{
    width: 29%;
    float: left;
    margin-right: 2%;
}
.group-item{
    overflow: hidden;
    width: 100%;
    background: #fafafa;
    border: 1px solid #E9E7E7;
    padding: 10px 0 10px 20px;
    margin-bottom: 20px;
}
.item-list{
    width: 100%;
    overflow: hidden;
    margin-bottom: 15px;
}
.group-item label{
    display: block;
    font-size: 16px;
    font-weight: normal;
    margin: 10px 0 10px 2px;
}
.btn-dynm{
    background: #53bee6;
    padding: 8px 14px;
    border-radius: 5px;
    color: #ffffff;
    position: relative;
    top: 48px;
}

.btn-add{
    background: #53bee6;
    padding: 8px 15px;
    border-radius: 5px;
    color: #ffffff;
    position: relative;
    top: 5px;
    right: 15px;
    cursor: pointer;
}

/*CSS for Pagination*/



div.custom-pager-ul ul li a {
    border-radius: 3px;
    border: 1px solid #ddd !important;
    padding: 5px 10px !important;
    color: #797979 !important;
}

div.custom-pager-ul ul li.selected a, div.custom-pager-ul ul li a:hover{
    background: #fff !important;
}
/*End of CSS for pagination*/




/* Styles by Utpal */

body {
    background: #fff;
    color: #333;
}

.stereo-bg {
    background: #eb2033;
    box-shadow: 0px 2px 5px #000;
}

.dash-header {
    font-family: 'lotregular';
    color: #000;
    margin: 10px 0 25px;
    text-transform: uppercase;
    font-size: 45px;
    letter-spacing: 2px;
}

.tab-container {
    margin-top: 0;
}

.pane-header {
    font-size: 52px;
}

.sidebar-toggle-box {
    color: #fff;
    margin-top: 24px;
}

.search-menu {
    margin-top: 8px
}

.log .top-nav ul.top-menu > li > a {
    border: 0!important;
}

a.logo {
    background: url('../img/logo.png') no-repeat;
    text-indent: -9999px;
    background-size: 100%;
    width: 340px;
    height: 50px;
    margin: 0;
}

.pane-bg {
    background: #F2F2F2;
    border: 1px solid #DADADA;
}

.data-head {
    margin: 10px 0;
}

.rep-head {
    font-size: 40px;
}

.panel {
    border: 1px solid #DDDDDD;
}

.border-bottom {
    border-bottom: 1px solid #DDDDDD;
}

.padfix {
    padding-left: 15px!important;
}

.panel-heading {
    font-weight: 800;
    padding-left: 0;
    color: #494949;
}

.paginate_disabled_previous {
    background: rgba(235, 32, 51, 0.44)!important;
    cursor: default!important;
}

.dataTables_paginate > a {
    background: #eb2033;
    color: #fff;
    cursor: pointer;
    padding: 5px 10px;
    margin-right: 10px;
    display: inline-block;
}

.table-striped>tbody>tr:nth-child(odd)>td, .table-striped>tbody>tr:nth-child(odd)>th {
    background-color: rgba(235, 32, 51, 0.09);
}

.value .count,
.value .count2,
.value .count3,
.value .count4 {
    margin: 15px 0;
}

.well-sm {
    background: #fff;
    box-shadow: 0 0 0 transparent;
    -webkit-box-shadow: 0 0 0 transparent;
}

.table {
    margin-bottom: 0;
}

.tr.even {
    background: #fff;
}

.home_dashboard {
    max-width: 1110px;
}

.box-bottom {
    margin-bottom: 20px;
}

.cat {
    margin-bottom: 0;
}

.text {
    margin-bottom: 0;
}

.cat-td {
    border: 0;
    background: #eb2033;
    color: #fff;
}

.cat-data {
    border: 1px solid #E2E2E2;
    border-left: 0;
}

.val {
    padding: 2px;
    border: 1px solid #C2C1C1!important;
    font-weight: 800;
    font-size: 20px;
    background: #f2f2f2;
    border-radius: 5px;
    margin-top: 5px;
}

.news-icon {
    margin-left: 5px;
    cursor: pointer;
}

.news-icon > i {
    color: #eb2033;
}

.noborder {
    border: 0;
}

span a.paginate_button {
    padding: 5px 10px;
    color: #000;
    background: #f2f2f2;
    margin-right: 5px;
    border: 1px solid #C4C4C4;
    cursor: pointer;
}

span a.paginate_button.current {
    cursor: default;
    background: #fff;
    border: 1px solid #E4E1E1;
}


/* Blue Flat Button
==================================================*/
.btn-xlarge{
  position: relative;
  vertical-align: center;
  width: 100%;
  height: 100x;
  padding: 28px 28px;
  font-size: 22px;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #050525;
  border: 0;
  border-bottom: 3px solid #9FE8EF;
  cursor: pointer;
  -webkit-box-shadow: inset 0 -3px #9FE8EF;
  box-shadow: inset 0 -3px #9FE8EF;
}
.btn-xlarge:active {
  top: 2px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.btn-xlarge:hover {
  background: #45E1E8;
}
.home_dashboard.p{
    word-break: true;
}